{% extends 'base.html.twig' %}

{% block title %}{{ title }} {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="home">
            <div class="my-auto">
                <h1 class="mb-0">Zad
                    <span class="text-primary">4</span>
                </h1>
                <div class="subheading mb-5">
                    <a href="mailto:akflorek@gmali.com">akflorek(at)gmail.com</a>
                </div>
                <p class="lead mb-5">
                    Zaprojektuj niezbędne pliki z definicjami klas / funkcji / konfiguracje dla kontrolera działu HR.
                    Moduł aplikacji ma być dostępny w ścieżce /human-resources, wymagana funkcjonalność to: wyświetlenie
                    listy pracowników, podgląd danych pracownika, dodanie nowego pracownika (jedynie nazwy metod wraz
                    z argumentami i ewentualną dokumentacją, celem zadania nie jest napisane kodu dla każdej
                    funkcjonalności).
                </p>
                <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </section>
        <hr class="m-0">
    </div>
{% endblock %}
