{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="data">
        <p>Details:</p>
        <ul>
            <li>{{ product.id }}</li>
            <li>{{ product.name }}</li>
            <li>{{ product.price }}</li>
            <li>{{ product.description }}</li>
        </ul>

    </div>
{% endblock %}
