{% extends 'base.html.twig' %}

{% block title %}{{ data['title'] }}{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <h3 class="mb-0">{{ data['hr'] }}
            <span class="text-primary"> - {{ data['subcategory'] }}</span>
        </h3>
    </div>

    <div class="col-lg-3">
        <ul class="list-group">
            {% for pracownik in pracownicy %}
                <li class="list-group-item">
                    <a href="{{ path("app_hr_details", {"id" : pracownik.id}) }}">
                        {{ pracownik.id }}. {{ pracownik.imie }} {{ pracownik.nazwisko }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
