<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Zad 4</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('app_home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('app_hr_list') }}">HR List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('app_hr_details', {'id':'1'}) }}">HR Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('app_hr_add_via_form') }}">HR Add New</a>
            </li>
        </ul>
    </div>
</nav>