{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/HRAddPersonController.php'|file_link(0) }}">src/Controller/HRAddPersonController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/hr_add_person/index.html.twig'|file_link(0) }}">templates/hr_add_person/index.html.twig</a></code></li>
    </ul>
</div>
    <div class="data">
        <p>Dodany pracownik:</p>
        <ul>
            <li>id: {{ pracownik.id }}</li>
            <li>imie: {{ pracownik.imie }}</li>
            <li>nazwisko: {{ pracownik.nazwisko }}</li>
            <li>pencja: {{ pracownik.pensja }}</li>
        </ul>
    </div>
{% endblock %}
