{% extends 'base.html.twig' %}

{% block title %}{{ data['title'] }}{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <h3 class="mb-0">{{ data['hr'] }}
            <span class="text-primary"> - {{ data['subcategory'] }}</span>
        </h3>
    </div>

    <div class="form-appears">
        <form name="form_url" method="POST">
            {{ form_start(form) }}
            <div class="col-lg-5">
                {{ form_widget(form) }}
            </div>
            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}
