{% extends 'base.html.twig' %}

{% block title %}{{ data['title'] }}{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <h3 class="mb-0">{{ data['hr'] }}
            <span class="text-primary"> - {{ data['subcategory'] }}</span>
        </h3>
    </div>

    <div class="col-lg-8">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>dział</th>
                <th>imie</th>
                <th>nazwisko</th>
                <th>pensja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ pracownik.id }}</td>
                <td>{{ pracownik.dzial.nazwa }}</td>
                <td>{{ pracownik.imie }}</td>
                <td>{{ pracownik.nazwisko }}</td>
                <td>{{ pracownik.pensja }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
